





.cards {
    height: 450px;
    margin: 25px;
    border: solid black;
    border-radius: 12px;
    font-family: 'nova round';
    color: white;
}

.cityName {
    font-size: 20pt;
    color: white;
    text-align: center;
}

.tempBig {
    font-size: 40pt;
    color: white;
    text-align: center;
}

.absCenter {
    text-align: center;
    align-items: center;
    vertical-align: center;
}
